<a href="@Url.Action("Index","ProductsManager")">Quản lý hàng hóa</a><br/>
<a href="@Url.Action("Index","AccountManager")">Quản lý tài khoản</a><br />
<a href="@Url.Action("Index","SuppliersManager")">Quản lý nhà cung cấp</a><br />
<a href="@Url.Action("Index","CategoriesManager")">Quản lý loại hàng hóa</a><br />
<a href="@Url.Action("Index","OrdersManager")">Quản lý hóa đơn</a><br />
