@model IEnumerable<Table.Product>

@{
    ViewBag.Title = "laySanPhamTheoLoai";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<i>@ViewBag.tb</i>
@foreach (var item in Model)
{
<div style="width:250px; height:auto; float:left; border:1px solid; margin:10px;">
    <img src="~/Image/@item.ProductImage" style="width:100%; height:250px;" />
    Tên sản phẩm: @item.ProductName <br />
    Giá: @item.UnitPrice VNĐ <br />
    @Html.ActionLink("Xem chi tiết", "ChiTietSanPham", "Products", new { ma = item.ProductID }, null)<br />
    @Html.ActionLink("Mua hàng", "AddToCart", "GioHang")
</div>
}